
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#main {
  margin-top: 40px;
  background: white;
  width: 500px;
  margin-bottom: 40px;
  padding: 10px;
}

@media (max-width: 595px) {
  #main {
    width: 350px;
  }
  video{
    width:350px;
  }
}


@media (max-width: 440px) {
    #main {
      width: 300px;
    }
    video{
      width:300px;
    }
  }
  
